@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;469;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

section{
    padding: 100px 0px;
}

*{margin: 0; padding: 0;}

.bg {
    background: #f5f5f5;
}

.container {
    width: 1140px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.phone {
    width: 200px;
    float: left;
    padding: 15px 10px;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
}

.email {
    width: 758px;
    float: left;
    padding: 15px 10px;
}

.phone i {
    color: #ff5200;
}

.email i {
    color: #ff5200;
}

.social {
    width: 140px;
    float: left;
    transition: 0.3s;
}

.social a {
    display: block;
    float: left;
    padding: 15px;
    border-right: 1px solid #e4e4e4;
    color: black;
}

.social a:hover {
    color: #ff5200;
}

.social a:first-child {
    border-left: 1px solid #e4e4e4;
}

.fullWrapper {
    overflow: hidden;
}

.primaryWrapper {
    overflow: hidden;
    width: 100%;
}

.logo {
    width: 150px;
    float: left;
    margin-top: 20px;
}

.menu {
    width: 990px;
    float: left;
}

ul.mainMenuUlItem {
    list-style: none;
    float: right;
}

ul.mainMenuUlItem li {
    float: left;
}

ul.mainMenuUlItem li a {
    text-decoration: none;
    font-family: oswald;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 30px 24px;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

ul.mainMenuUlItem li a:hover {
    color: #ff5200;
}

section#homeSlider {
    background: linear-gradient(#00000036,#ffffff), url(../images/services.png);
    background-repeat: no-repeat;
    background-position: 100%;
    padding: 0px;
    height: 400px;
}

.sliderContent {
    color: #ffffffab;
    text-align: center;
}

.sliderContent h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 152px;
}

.sliderContent p {
    font-weight: 600;
    line-height: 25px;
    width: 235px;
    margin-bottom: 30px;
    margin-left: 453px;
}
.ourTeamWrapper {
    overflow: hidden;
}

.teamImage {
    width: 540px;
    float: left;
}

.teamImage img {
    max-width: 550px;
}

.teamDetails {
    width: 540px;
    float: right;
}

.titleDesc h2 {
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: 500;
    width: 360px;
}

.titleDesc p {
    margin-bottom: 15px;
    color: #666;
    line-height: 25px;
}

.teamContactbtn a {
    background: #ff5200;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    display: block;
    width: 83px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-family: oswald;
    letter-spacing: 1px;
    transition: 0.3s;
}

.teamContactbtn a:hover{
    background: black;
    color: white;
}



.secTitle {
    text-align: center;
    margin-bottom: 50px;
}

.secTitle h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
}

.secTitle h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    background: #ff5200;
    width: 150px;
    border-bottom: 3px solid #ff5200;
    left: 50%;
    transform: translateX(-80px);
    }

.secTitle p {
    width: 530px;
    margin: auto;
    color: #666;
    line-height: 25px;
    font-size: 16px;
}


.postWrapper {
    overflow: hidden;
}

.singlePosts {
    width: 238px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
    margin-bottom: 50px;
}

.singlePosts:last-child{
    margin-right: 0px;
}

.singlePosts img {
    width: 100%;
}

.postImage {
    margin-bottom: 15px;
}

.postInfo p {
    line-height: 25px;
    color: #666;
    margin-top: 10px;
}

.postInfo h3 {
    font-size: 20px;
    font-weight: 600;
}

#blogPosts {
    margin-top: -120px;
}

footer#footer {
    background: #1A1A1A;
    padding-top: 200px;
}

.copyrightContainer {
    overflow: hidden;
    color: #999;
    border-top: 1px solid #333;
}

.copyrightContainer.container {
    overflow: hidden;
}

.copyrightText {
    width: 540px;
    float: left;
    padding: 25px 0px;
}

.copyrightMenu {
    width: 570px;
    float: right;
}

.copyrightMenu ul {
    list-style: none;
    float: right;
    overflow: hidden;
}

.copyrightMenu ul li {
    float: left;
}

.copyrightMenu ul li a {
    color: #999;
    display: block;
    padding: 25px 15px;
    text-decoration: none;
}

.fboxWrapper {
    overflow: hidden;
    margin-bottom: 70px;
}

.fbox {
    overflow: hidden;
    width: 250px;
    float: left;
    margin-right: 30px;
    color: #999;
}

.fbox:last-child {
    margin-right: 0px;
}

.fbox h3 {
    color: #E8E8E8;
    margin-bottom: 18px;
}

.fbox p {
    line-height: 25px;
    font-size: 13px;
    margin-bottom: 15px;
}

.fIcons a i {
    color: #999;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s;
}

.fIcons a i:hover{
    color: #ff5200;
}

span.address {
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
}

span.address i {
    margin-right: 10px;
    color: #ff5200;
}

ul#ufLinks {
    list-style: none;
}

ul#ufLinks li {
    line-height: 25px;
}

ul#ufLinks li a {
    color: #999;
    text-decoration: none;
    display: block;
    padding: 7px 0px;
    font-size: 13px;
    border-bottom: 1px dashed #353535;
}

ul#ufLinks li a i {
    font-size: 16px;
    margin-right: 10px;
}

ul#ufLinks li a i {
    font-size: 14px;
    margin-right: 10px;
}

ul#ufLinks li:last-child a {
    border-bottom: 0px;
}

.frProject {
    overflow: hidden;
    margin-bottom: 30px;
}

.dateProject {
    width: 35px;
    background: #3A3A3A;
    padding: 10px;
    border-radius: 3px;
    color: white;
    float: left;
}

.dateTitle {
    width: 175px;
    float: right;
}

.dateTitle h3 {
    margin: 0;
    margin-bottom: 10px;
    color: #999;
}

span.fs {
    font-size: 24px;
    font-weight: bold;
}

span.ds {
    font-size: 8px;
    font-weight: 600;
}

.dateTitle a {
    color: #666;
    text-decoration: none;
    font-size: 12px;
    margin-right: 15px;
    transition: 0.3s;
}

ul#ufLinks a:hover {
    color: #ff5200;
}